version: "3.8"
services:
  app:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
      target: dev
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - .:/app
    env_file:
      - ./.env

  db:
    environment:
      POSTGRES_USER: db_user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: rag_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    build:
      context: .
      dockerfile: ./docker/postgres/Dockerfile

volumes:
  postgres_data:
